<div class="gameboard-player gameboard-player4">
    <div class="gameboard-player-stats">
        <div class="gameboard-name">
            Namn:  {{ players[3].name }}
        </div>
        <div class="gameboard-chips">
            Chips:  {{ players[3].chips }}
        </div>
        <div class="gameboard-bet">
            Bet:    {{ players[3].bet }}
        </div>

        {% if status < 3 and cheating == 1 %}
            <div class="gameboard-pokerHand">
                Hand: {{ players[3].pokerHand }}
            </div>

            <div class="gameboard-value">
                Kort värde: {{ players[3].value }}
            </div>
        {% endif %}
    </div>
</div>