<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
            <span class="site-title">My Symfony Site</span>
        </header>

        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky') }}">Lucky Number</a></li>
                <li><a href="{{ path('api') }}">APIs</a></li>
                <li><a href="{{ path('card') }}">Card</a></li>
                <li><a href="{{ path('game') }}">Spela 21</a></li>
                <li><a href="{{ path('library') }}">Library</a></li>
                <li><a href="{{ path('session') }}">Session</a></li>
            </ul>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>My Symfony Site</p>
            <a href="https://github.com/Couil97/DV1608-V24---MVC">Github</a>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
