<div class="library-navigation">
    <div class="library-navigation-header">Innehållsförteckning</div>
    <div class="library-navigation-link"><a href="{{path('library')}}">Start</a></div>
    <div class="library-navigation-link"><a href="{{path('library_view_all')}}">Visa alla</a></div>
    <div class="library-navigation-link"><a href="{{path('library_search')}}">Sök</a></div>
    <div class="library-navigation-link"><a href="{{path('library_create')}}">Skapa</a></div>
    <div class="library-navigation-link"><a href="{{path('library_update')}}">Updatera</a></div>
    <div class="library-navigation-link"><a href="{{path('library_delete')}}">Ta bort</a></div>
    <div class="library-navigation-link"><a href="{{path('library_delete_all_confirm')}}">Ta bort alla</a></div>
</div>