{% extends "base.html.twig" %}

{% block title %}Library - {{ book.getTitle }}{% endblock %}

{% block body %}
    <h1 class="site-header">Library - {{ book.getTitle }}</h1>
    <hr>
    <div class="content table-of-contents">
        {{ include('library/navigation.twig') }}
        <div class="library-content">
            {{ include('flash.html.twig') }}
            <div class="library-one-product">
                <div class="library-product-header">{{ book.getTitle() }}</div>
                <div class="library-product-sub-header">{{ book.getAuthor() }}</div>
                <br>
                <div class="library-product-normal">ISBN: {{ book.getISBN() }}</div>
                <div class="library-product-id">ID: {{ book.getId() }}</div>
            {% if (type == 'delete') %}
                <div class="library-confirm-button">
                    <a href="{{path('library_delete_post', {bookId} )}}">Radera produkt?</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}